$width: 148px;
$height: 140px;
$radius: 8px;

$m_width: 70px;
$m_height: 66px;
$m_radius: 6px;

$cp_blue: #8486a9;
$cp_red: #fb6087;

$cn_white: #fff;
$cn_black: #000;
$cn_dark_1: #191a24;
$cn_dark_2: #1e1f29;
$cn_dark_3: #343650;
